*{padding: 0;margin: 0;box-sizing: border-box;font-family:sans-serif;}
header{
	width: 100%;
	height: 100vh;
	background: black;
	clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80%,0% 100%);
}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: whitesmoke;
}
.icon img{
	height: 40px;
	width: 100%;

}
.logo{
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 5px;
}
#blue{
	color: #66ffff;
}
.menu a{
	text-decoration: none;
	color: whitesmoke;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	
}
.menu a:first-child{
	border-bottom: 2px solid white;
	font-size: 22px;
	font-weight: bold;
}
.container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

}
.container p{
	font-family: sans-serif;
	font-size: 20px;
	margin: 10px 0px;

}
.container h1{
	font-family: 'Noto Sans', sans-serif;
	font-size: 40px;
	color: #66ffff;
}
.left{
flex-basis: 50%;	
}
.right{
	flex-basis: 50%;
	max-width: 400px;
}
.btn{
	font-family: 'Noto Sans', sans-serif;
	padding: 10px 20px;
	border-radius:36% 0% 37% 12% / 41% 13% 28% 0%;
	margin-top: 10px;
	background: transparent;
	color: cyan;
	border: 2px solid whitesmoke;

}
.btn:hover{
	color: darkred;
	cursor: pointer;
	transition: 0.5s;
	background-color:   #ffff4d;
}
#about{
	padding: 100px 0px;

}
.about-row{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-left-col{
	flex-basis: 50%;
}

.about-left-col{
	max-width: 400px;
	margin: auto;
}
.about-left-col h1{
	font-size: 50px;
}
.about-left-col p{
	font-size: 20px;
	text-align: justify;
	margin: 15px 0px;
}
.about-right-col{
	flex-basis: 50%;
	text-align: center;

}
.about-right-col img{
	width: 80%;
}
.c-btn{
padding: 10px 10px;
margin-top: 10px;
border-radius:14% 0% 19% 12% / 37% 100% 44% 0%;
background: #66ffff;
border: none;
}


/*-----signup section----*/
#signup{
	padding-top: 50px;
	padding-bottom: 20x;
	background:  #f2f2f2;
	clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80%,0% 100%);
}
.signup-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.signup-left-col{
	flex-basis: 50%;
	text-align: center;

}
.signup-left-col img{
	width: 60%;
}
.signup-right-col{
	flex-basis: 50%;

}
.signup-right-col h1{
	font-size: 90px;
	letter-spacing: 4px;
}
.signup-right-col h2{
	font-size: 45px;
	letter-spacing: 60px;
	color: rgba(0, 0, 0, 0.3);
	margin: 10px 0px;
}

/*---------services section----------*/

#services{
	padding: 50px 0px;

}
.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;

}
.services-info p{
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 50px;
}
.services-row{
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 3em;
	justify-content: center;

}
.services-box{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;

}
.services-box i{
 background:#70db70 ; 
 font-size: 30px;
 padding: 10px;
 margin-top: -20px;
 margin-bottom: 10px;
}

/*-------Member Section----------*/

#members{
	padding: 100px;
	background: url(images/bg1.jpg);
	background-size: 35% 35%;
	background-repeat: no-repeat;
	background-position:top right ;
}
.member-card{
	text-align: center;
	padding-top: 50px;
	width: 50%;
	margin: auto;
}
.member-card p{
	margin: 20px 0px;
}
.member-card h2{
	margin: 20px 0px;
}

/*-------Work Section-------*/

#work{
	padding-top: 50px;
	padding-bottom: 200px;
	background: rgba(0, 0, 0, 0.03);
	clip-path: polygon(0% 0%,100% 0%,100% 100%,80% 80%,0% 100%);

}
.work-box{
	box-shadow: 2px 3px 5px grey;
}
.work-box img{
	width: 100%;
	height: 100%;
}
#contact{
	padding: 30px 0px;

}
.contact-row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-left-col{
	flex-basis: 50%;
	padding: 50px;

}
.contact-right-col{
	flex-basis: 50%;
	max-width: 450px;
	margin: auto;


}
.contact-right-col i{
	padding: 10px;
	font-size: 15px;
	background:#70db70 ;
	color: white;
	margin-right: 10px;
}
.contact-right-col p{
	margin-top: 10px;
	margin-bottom: 20px;

}


.form{
	width: 70%;
	margin: auto;
	text-align: center;
}
.form input[type="text"]{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}
.c_btn{
	background: black;
	color: white;
	padding: 10px;
	width: 40%;
	border: none;
}
#footer{
	background: black;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
	
